body{
    background: url("/craft/images/grass_side.png");
}
section {
  position: relative;
  z-index: 1;
}

section::before {
  content: "";
  position: absolute;
  width: 100%; 
  height: 100%;  
  opacity: .6; 
  z-index: -1;
  background: url("/crafty/images/mc_stone.jpg");
}
header, section, article, nav, aside, footer {
    float: left;
}
