body {
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    color: white;
    background: url("../images/blocks/grass_side.png") repeat-x left top, url("../images/blocks/dirt.png") repeat 0px 256px;
}

div.site {
    margin: 0px auto; /* This, along with max-width, place the content in the center with auto margins on the side. */
    max-width: 960px;
    min-width: 750px;
    padding: 0px;
    
    
}



section {
    position: relative;
    z-index: 1;
}

    section::before {
        content: "";
        position: absolute;
        width: 98%;
        height: 100%;
        opacity: .6;
        z-index: -1;
        background: url("../images/snow.gif");
        border: 3px solid white;
    }
div.content {
    padding: 10px;
    margin: 20px;
    margin-top: 0px;
	
	padding-right: 0px;
	margin-right: 20px;
}
img.frame{
 	border: ridge 10px grey;
}
h1 {
    margin: 0px;
    color: black;
}
header{
	height: 60px;
	text-align: center;
	z-index: 2;
	
}

header div.links img.builds{
	
	height:100px;
	width:250px;
}
footer {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* bottom:50px; this is a possibility if we so desire to make the footer stay on the bottom. */
}

address {
    margin: 0px;
    padding: 0px;
}

ul.header{
	
	margin: 5px 0px 0px 0px;
	padding: 0px;
}

ul.header li{
	list-style-type: none;
	display: inline;
}

img.banner{
	margin: 0px;
	
}

header img{
	height: 29px;

ul.header li img{
	border-color: black;
	border-width: thick;

}
