/*

CSS for Alya Kemi website.

Authors: Erich Berger, Nathan Ahrens, Brennan Kunkel
CS 175 Project, Fall 2016

*/


/* Import a font from google. */
@import 'https://fonts.googleapis.com/css?family=Cormorant+Upright';
/* 
To use this font, use: 
font-family: 'Cormorant Upright', serif; 
*/

/* 

Main site structure styles 

*/



/*
body, div.site, section.main-container, div.content-container, div.gradient-background {
overflow: auto;
}
*/
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	color: white;
	background: url("../images/blocks/grass_side.png") repeat-x left top, url("../images/blocks/dirt.png") repeat 0px 256px;
}

div.site {

	margin: 0px auto; /* This, along with max-width, place the content in the center with auto margins on the side. */
	max-width: 960px;
	min-width: 760px;
	padding: 0px 10px;

	/* Background */
	background: rgba(20,20,20,.5); /* For browsers that do not support gradients */
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(left, rgba(20, 20, 20, 0.8), rgba(100, 100, 100, 0.5), rgba(20, 20, 20, 0.8));
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(left, rgba(20, 20, 20, 0.8), rgba(100, 100, 100, 0.5), rgba(20, 20, 20, 0.8));
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(left, rgba(20, 20, 20, 0.8), rgba(100, 100, 100, 0.5), rgba(20, 20, 20, 0.8));
	/* Standard syntax */
	background: linear-gradient(to right, rgba(20, 20, 20, 0.8), rgba(100, 100, 100, 0.5), rgba(20, 20, 20, 0.8));

	border-right: 1px solid black;
	border-left: 1px solid black;
}

/* These marginal values indicate how close other elements may get to the main body of the page */
/* The top margin will decide how close the main body will get to the header menu */
/* The bottom margin will decide how close the footer will get to the main body */
section.main-container {

	position: relative;
	border: 3px solid white;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
}
	/* This allows for transparent background. If you want the normal background, 
	move the background property back to the main selector and get rid of the 
	main selector's "position" attribute.*/
	section.main-container::before {
		background: url("../images/snow.gif");
		content: "";
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: -1;
		opacity: .7;
		border-radius: 15px;
	}


div.content-container{

	padding: 0px;
	margin: 0px auto;
	height:100%;
	width: 700px
}


div.gradient-background {
	height: 100%;
	margin: 0px;
	padding: 10px;

	/* Background */
	background: rgba(0,255,0,.5); /* For browsers that do not support gradients */
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(#199800, rgba(2, 10, 255, 0.51));
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(#199800, rgba(2, 10, 255, 0.51));
	/* For Fx 3.6 to 15 */
	background: -moz-linear-gradient(#199800, rgba(2, 10, 255, 0.51));
	/* Standard syntax */
	background: linear-gradient(#199800, rgba(2, 10, 255, 0.51));
}

/* 

Header and footer content styles 

*/
header, footer {
	text-align: center;
	clear: left;

}
header{
	height: 248px;

	padding-top: 5px;
}

footer {
	margin: 5px 0px 0px 0px;
	padding: 5px;
	background: url("../images/blocks/stone.png") left bottom;
	height: 50px;
	color: black;
	border: 3px solid black;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 1.3em;
}

footer a {
	color: #66ffff;
}

footer a:hover {
	background-color: rgba(20, 20, 20, .3);
}

/* header list (navigation) */
ul.header{
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

/* Header list items (for navigation) */
ul.header li{
	list-style-type: none;
	display: inline;
}

/* header link images */
img.banner {
	margin: 0px;
	border-bottom: 3px solid black;
	height: 29px;

}
img.banner:hover {
	background-color: rgba(0,128,0,1.0);
	border-bottom: 2px solid orange;
}

#logo{
	margin: 0 auto;
	height: 200px;
	width: 750px;
	background-image: url(../images/header/crafty.jpg);
	border-style:solid;
	border-width: 5px;
	border-color:black;
}

#logo h1{
	font-family: "Brush Script MT", cursive;
	font-size:64px;
	padding-right:10px;
	text-align:right;
	color:rgb(200,200,200);
}

/* cursor for clickable items in header */
a.headerlink:hover, img.banner:hover {
/* must list the cursor path twice in two different ways (relative to the css file as well as 
relative to the html file that is active) in order for IE to use it (IE needs the cursor image
to be listed relative to the active html file. Thus if the index.html is active, it will use
images/ rather than ../images/). */
cursor: url(../images/cursor/diamond_sword.cur), url(images/cursor/diamond_sword.cur), default;
}

/* This element class makes the header logo image clickable */
a.headerlink, a.headerlink:visited{
	text-decoration: none;
	color:rgb(200,200,200);

}

a.headerlink:hover{
	size:80px;
	border-bottom: 2px solid orange;
	font-size: 1.03em; /* Make the text larger when hovered */
	color: white;
}


/* Aside Element and its sibling section element */
#index-aside{
	float: right;
	width: 39%;
	border: 1px solid gray;
}
#index-section {
	float: left;
	width: 60%;
}

/* iframe containing updates from mojang */
iframe#mojang-updates {
	height: 100%;
	width: 100%;
	border:none;
}

/* 

General content styles 

*/


h1 {
	margin: 0px;
	color: black;
	font-size:2em;
}

h2 {
	margin: 0px;
}

address {
	margin: 0px;
	padding: 0px;
}
nav{
	clear: left;
}